Repository da-fedin/ml_homeworks_win_linux: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, flake8, black

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: python -m nbconvert --ClearOutputPreprocessor.enabled=True --inplace

flake8:
  name: flake8
  entry: flake8 --ignore=E501,E703 sources/graphics.py sources/processing.py
  language: system

black:
  name: black
  entry: black
  language: system

fit added
  .pre-commit-config.yaml
  notebooks/hw18_LSTM_classification.ipynb
Due: jupyter-nb-clear-output

tokenization used instead of vectorizing
  notebooks/hw18_LSTM_classification.ipynb
Due: jupyter-nb-clear-output

before merge
  notebooks/hw18_LSTM_classification.ipynb
Due: jupyter-nb-clear-output

init
  .pre-commit-config.yaml
Due: none

test black for notebook
  notebooks/hw18_LSTM_classification.ipynb
Due: jupyter-nb-clear-output

test black for notebook2
  .pre-commit-config.yaml
Due: none

test black for notebook3
  .pre-commit-config.yaml
Due: none

test black for notebook4
  requirements.txt
Due: none

early hws refined
  .gitignore
  .pre-commit-config.yaml
  notebooks/hw1_Motivation.ipynb
  notebooks/hw2_numpy.ipynb
  notebooks/hw3_pandas.ipynb
  notebooks/hw4_visualization.ipynb
  requirements.txt
Due: jupyter-nb-clear-output

early hws refined3
  .pre-commit-config.yaml
  notebooks/hw2_numpy.ipynb
Due: jupyter-nb-clear-output

early hws refined5
  .pre-commit-config.yaml
  notebooks/hw4_visualization.ipynb
  requirements.txt
Due: jupyter-nb-clear-output

early hws refined5
  notebooks/hw10_ensemble.ipynb
  notebooks/hw11_Dimension.ipynb
Due: jupyter-nb-clear-output

early hws refined5
  notebooks/hw5_regression.ipynb
  notebooks/hw8_class_disbalance.ipynb
  notebooks/hw9_decision_tree.ipynb
Due: jupyter-nb-clear-output

early hws refined5
  notebooks/hw12_Clustering.ipynb
  notebooks/hw13_Time_series.ipynb
  notebooks/hw14_simple_NN_for_MNIST.ipynb
  notebooks/hw15_transfer_learning_CNN_MNIST.ipynb
  notebooks/hw16_Movie_review.ipynb
  notebooks/hw17_spacy_classification.ipynb
  notebooks/hw18_LSTM_classification.ipynb
  notebooks/hw2_numpy.ipynb
  notebooks/hw3_pandas.ipynb
Due: jupyter-nb-clear-output

early hws refined5
  notebooks/hw13_Time_series.ipynb
  notebooks/hw2_numpy.ipynb
Due: jupyter-nb-clear-output

early hws refined5
  notebooks/hw12_Clustering.ipynb
Due: jupyter-nb-clear-output

early hws refined5
  notebooks/hw2_numpy.ipynb
Due: jupyter-nb-clear-output

early hws refined5
  .pre-commit-config.yaml
  Makefile
Due: none

early hws refined5
  .pre-commit-config.yaml
Due: none

hw4 refined
  .pre-commit-config.yaml
  notebooks/hw13_Time_series.ipynb
  notebooks/hw2_numpy.ipynb
  notebooks/hw3_pandas.ipynb
  notebooks/hw4_visualization.ipynb
  notebooks/hw5_regression.ipynb
  sources/graphics.py
Due: jupyter-nb-clear-output, flake8, black

hw5 refined
  notebooks/hw4_visualization.ipynb
  notebooks/hw5_regression.ipynb
  notebooks/hw6_encoders.ipynb
  notebooks/hw7_metricreg_ression.ipynb
  notebooks/hw8_class_disbalance.ipynb
Due: jupyter-nb-clear-output

hw6 refined
  notebooks/hw6_encoders.ipynb
  notebooks/hw7_metricreg_ression.ipynb
  requirements.txt
Due: jupyter-nb-clear-output

transformer with optimization
  notebooks/hw18_LSTM_classification.ipynb
  notebooks/hw19_Transformers.ipynb
  notebooks/hw5_regression.ipynb
  requirements.txt
Due: jupyter-nb-clear-output

transformer optimization performed
  notebooks/hw19_Transformers.ipynb
Due: jupyter-nb-clear-output

transformer optimization described
  notebooks/hw19_Transformers.ipynb
Due: jupyter-nb-clear-output

transformer optimization description refined
  notebooks/hw19_Transformers.ipynb
Due: jupyter-nb-clear-output

dummy commit to get pre-commit work completely
  notebooks/hw5_regression.ipynb
Due: jupyter-nb-clear-output

dummy commit to get pre-commit work completely
  notebooks/hw19_Transformers.ipynb
Due: jupyter-nb-clear-output

fix get_category_encoded
  notebooks/hw7_metricreg_ression.ipynb
  notebooks/hw9_decision_tree.ipynb
  sources/processing.py
Due: jupyter-nb-clear-output, flake8, black

fix get_category_encoded
  notebooks/hw7_metricreg_ression.ipynb
  sources/processing.py
Due: jupyter-nb-clear-output, flake8, black

hw1-7 fixed
  notebooks/hw2_numpy.ipynb
  notebooks/hw3_pandas.ipynb
  notebooks/hw6_encoders.ipynb
  notebooks/hw7_metricreg_ression.ipynb
  notebooks/hw8_class_disbalance.ipynb
Due: jupyter-nb-clear-output

hw8-11 fixed
  notebooks/hw10_ensemble.ipynb
  notebooks/hw11_Dimension.ipynb
  notebooks/hw8_class_disbalance.ipynb
  notebooks/hw9_decision_tree.ipynb
Due: jupyter-nb-clear-output

final edition
  notebooks/hw11_Dimension.ipynb
  notebooks/hw12_Clustering.ipynb
  notebooks/hw13_Time_series.ipynb
  notebooks/hw14_simple_NN_for_MNIST.ipynb
  notebooks/hw15_transfer_learning_CNN_MNIST.ipynb
  notebooks/hw16_Movie_review.ipynb
  notebooks/hw17_spacy_classification.ipynb
Due: jupyter-nb-clear-output

init
  Makefile
  notebooks/hw14_simple_NN_for_MNIST.ipynb
  scripts/build.sh
Due: jupyter-nb-clear-output

the same mean and mse used for train and test data in scaleing
  notebooks/hw5_regression.ipynb
Due: jupyter-nb-clear-output

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  flake8: any of: \.py$
  black: any of: \.py$
